{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="center-column">
Want to learn about Json here? Want to type Json for your Tasks to get Created or Updated? This is an API or Json Wing of the app,
written with the help of <a href="https://www.django-rest-framework.org/">Django REST framework</a>. The notable urls are:
<br><br>
<ul>
    <li><a href="{% url 'api-list' %}">View your Task List's API or Json Format</a></li>
    <li><a href="{% url 'create-api' %}">Create a Task using Json</a></li>
</ul>
<br>
To View Details of a specific task, click the "<img src="{% static 'images/document_api.png' %}" height="30" width="50">" icon after the Task name
<br>

{% endblock %}