{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="center-column">
Want to check more of our Products? Check our <a href="https://opensourceweather.herokuapp.com"> Weather App</a> and our <a href="https://typeandenter.herokuapp.com">Search Engine</a> and our <a href="https://opensourcedictionary.herokuapp.com"> Dictionary App</a>!! 
<br><br>
<form method="POST" action="">
	<div class="card">
		<br><div class="container">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Create Task" class="btn btn-info">
	</div><br>
</div><br>
	<div class="d-grid gap-2">
	<a href="{% url 'ClearList' %}" class="btn btn-secondary">Clear List</a>
	<a href="{% url 'delete_all_crossed_items' %}" class="btn btn-warning">Delete All Crossed Items</a>
	<a href="{% url 'generate_text_file' %}" class="btn btn-dark">Download your Task List in a Text File</a>
	
	</div>
</form>

<script>
	var name = "{{ user.id }}";
	document.getElementById('userid').value = name;
</script>

<hr>
{% for item in object_list %}

{% if item.complete %}


	<div class="updated-item-row">

<!--<a href="{% url 'uncross' item.id %}" class="btn btn-dark btn-sm">Uncross!</a>-->
<a href="{% url 'uncross' item.id %}"><img src="{% static 'images/cross.ico' %}" class="rounded-circle" height="20" width="20"></a>
<!--<a href="{% url 'delete' item.id %}" class="btn btn-danger btn-sm">Delete</a>-->
<a href="{% url 'delete' item.id %}"><img src="{% static 'images/original.ico' %}" class="float-end" height="30" width="25"></a>
<a href="{% url 'api-ind' item.id %}"><img src="{% static 'images/api.png' %}" class="float-end" height="30" width="50"></a>

<strike><font color="black">{{ item.title }}</font></strike>
</div>
{% else %}

<div class="item-row">


<!--<a href="{% url 'cross' item.id %}" class="btn btn-dark btn-sm">Cross Off!</a>-->
<a href="{% url 'cross' item.id %}"><img src="{% static '/images/uncheck.ico' %}" class="rounded-circle" height="20" width="20"></a>
<!--<a href="{% url 'delete' item.id %}" class="btn btn-danger btn-sm">Delete</a>-->
<a href="{% url 'delete' item.id %}"><img src="{% static 'images/original.ico' %}" class="float-end" height="30" width="25"></a>
<a href="{% url 'api-ind' item.id %}"><img src="{% static 'images/api_dark.png' %}" class="float-end" height="30" width="50"></a>

{{ item.title }}
</div>


{% endif %}


{% endfor %}



{% endblock %}