{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="center-column">

<form method="POST" action="">
	
	{% csrf_token %}
	{{ form.user }}
	{{ form.title }}
	<input type="submit" value="Create Task" class="btn btn-info">
	
	
</form>

<script>
	var name = "{{ user.id }}";
	document.getElementById('userid').value = name;
</script>
</div>
<div class="center-column">
	<form method="POST" action="">
	
		{% csrf_token %}
		<input required type="text" name="searched">
		<input type="submit" value="Search Task by Name" class="btn btn-info">
		
		
	</form>
	</div>
	<div class="center-column">
{% for item in object_list %}

{% if item.complete %}


	<div class="updated-item-row">

<!--<a href="{% url 'uncross' item.id %}" class="btn btn-dark btn-sm">Uncross!</a>-->
<a href="{% url 'uncross' item.id %}"><img src="{% static 'images/cross.ico' %}" class="rounded-circle" height="20" width="20"></a>
<!--<a href="{% url 'delete' item.id %}" class="btn btn-danger btn-sm">Delete</a>-->
<a href="{% url 'delete' item.id %}"><img src="{% static 'images/original.ico' %}" class="float-end" height="30" width="25"></a>
<a href="{% url 'api-ind' item.id %}"><img src="{% static 'images/api.png' %}" class="float-end" height="30" width="50"></a>

<strike><font color="black">{{ item.title }}</font></strike>
</div>
{% else %}

<div class="item-row">


<!--<a href="{% url 'cross' item.id %}" class="btn btn-dark btn-sm">Cross Off!</a>-->
<a href="{% url 'cross' item.id %}"><img src="{% static '/images/uncheck.ico' %}" class="rounded-circle" height="20" width="20"></a>
<!--<a href="{% url 'delete' item.id %}" class="btn btn-danger btn-sm">Delete</a>-->
<a href="{% url 'delete' item.id %}"><img src="{% static 'images/original.ico' %}" class="float-end" height="30" width="25"></a>
<a href="{% url 'api-ind' item.id %}"><img src="{% static 'images/api_dark.png' %}" class="float-end" height="30" width="50"></a>

{{ item.title }}
</div>


{% endif %}

{% empty %}
<h4><center>No Tasks</center></h4>
{% endfor %}



{% endblock %}