{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="center-column">
<center><h4>You Are Already Logged in! <a href="{% url 'index' %}">Go Back</a></h4></center>
</div>
{% else %}
<div class="center-column">
	
<form method="POST" action="">
	{% csrf_token %}
	<textarea class="form-control" name="feed" rows="3" placeholder="Enter your feedback"></textarea>
	<input type="submit" value="Post Feedback" class="btn btn-info">
	<div class="d-grid gap-2">
		<a href="{% url 'index' %}" class="btn btn-secondary">Go Back</a>
	</div>
{% endif %}
{% endblock %}

