{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="center-column">
<center><h4>You Are Already Logged in! <a href="{% url 'index' %}">Go Back</a></h4></center>
</div>
{% else %}
<div class="center-column">
We've emailed you instructions for setting your password.

If you don't receive an email, please make sure you've entered the correct address you registered with. Or make sure
that multiple users don't share the common email!
</p>
</div>
{% endif %}
{% endblock %}