{% extends "base.html" %}{% block content %}
{% if request.user.is_authenticated %}
<div class="center-column">
<center><h4>You Are Already Logged in! <a href="{% url 'index' %}">Go Back</a></h4></center>
</div>
{% else %}
<div class="center-column">
<h1>Reset your password</h1>{% if validlink %}<p>Please enter your new password twice:

</p><form action="." method="post">{{ form.as_p }}{% csrf_token %}<p><input type="submit" class="btn btn-info" value="Change my password" />
</p></form>
{% else %}<p>The password reset link was invalid, possibly because it hasalready been used. 
Please request a new password reset.</p>{% endif %}
</div>
{%  endif%}
{% endblock %}

